*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

body{
    font-family: sans-serif;
}

/************* HEADER **************/

/* nav */

nav{
    height: 5rem;
    background-color: #0084FD;
    padding: 1rem;
}

nav .logo,
nav .links{
    width: 50%;
    height: 100%;
}

div.logo{
    align-items: center;
}

div.links{
    justify-content: end;
    align-items: center;
}

div.links button{
    border: none;
    background-color: #0084FD;
}

div.links button i{
    color: #FFFFFF;
    padding: 1rem;
}

div.links a{
    display: none;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 1.7rem;
    font-size: 1.1rem;
}

div.links a:last-child{
    background-color: #FFFFFF;
    color: #0084FD;
    padding: 0.7rem 1rem;
    border-radius: 10rem;
}

/************** MAIN ***************/

/* elements */

section.elements{
    flex-wrap: wrap;
    padding: 1rem;
}

div.element{
    width: 100%;
    background-color: #B5DDFF;
    height: 25rem;
    margin: 1rem;
}

div.element:first-child{
    height: 50rem;
    flex-wrap: wrap;
}

div.element .element-content,
div.element .element-image{
    width: 100%;
}

/* sp-ad */

section.sp-ad{
    flex-wrap: wrap;
    background-color: #b3b0e7;
}

div.sp,
div.ad{
    background-color: #9792E4;
    width: 100%;
}

div.sp{
    height: 50rem;
}

div.ad{
    height: 40rem;
}

/* testimonials */

section.testimonials{
    flex-wrap: wrap;
    padding: 1rem;
}

div.testimonial{
    width: 100%;
    background-color: #9792E4;
    height: 17rem;
    margin: 1rem;
    flex-wrap: wrap;
}

div.testimonial:first-child{
    background-color: #FFFFFF;
}

div.testimonial .testimonial-image,
div.testimonial .testimonial-content{
    width: 100%;
}

/* work-with-us */

section.work-with-us{
    background-color: #9792E4;
}

div.benefits{
    flex-wrap: wrap;
    padding: 1rem;
    background-color: #9792E4;
}

div.benefit{
    width: 100%;
    background-color: #FFFFFF;
    height: 20rem;
    margin: 1rem;
}

/* about-us */

section.about-us{
    flex-wrap: wrap;
    padding: 1rem;
}

section.about-us div{
    width: 100%;
    background-color:teal;
}

div.about-us-text{
    height: 50rem;
}

div.about-us-image-content{
    height: 40rem;
}

/************* FOOTER **************/

div.footer-top{
    background-color:#9792E4;
    height: 40rem;
}

div.footer-bottom{
    background-color: #333333;
    height: 10rem;
}

/************* TABLET **************/
/************* TABLET **************/

@media screen and (min-width: 768px) {

    /* elements */
    div.element{
        width: calc(100% / 3 - 2rem);
    }

    div.element:first-child{
        width: calc(100% / 3 * 2 - 2rem);
        height: 25rem;
    }

    /* testimonials */
    div.testimonial{
        flex-wrap: nowrap;
    }

    /* work-with-us */
    div.benefit{
        width: calc(50% - 2rem);
    }

    /* about-us */
    section.about-us div{
        width: 50%;
    }
}

/*************** PC ****************/
/*************** PC ****************/

@media screen  and (min-width: 992px) {

    /* nav */
    nav{
        padding: 0 20%;
    }
    
    div.links button{
        display: none;
    }

    div.links a{
        display: inline;
    }

    /* elements */
    section.elements{
        padding: 0 20%;
    }

    div.element:first-child{
        flex-wrap: nowrap;
    }

    /* sp-ad */
    section.sp-ad{
        padding: 0 20%;
        align-items: flex-end;
    }

    div.sp,
    div.ad{
        width: 50%;
    }

    /* testimonials */
    section.testimonials{
        padding: 0 20%;
    }

    /* work-with-us */
    section.work-with-us{
        padding: 0 20%;
    }

    div.benefit{
        width: calc(100% / 3 - 2rem);
    }

    /* about-us */
    section.about-us{
        padding: 0 20%;
    }
}